* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-left: 25%;
}

.logo img {
    margin: 1rem 0;
}

.head2 {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 75px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.barra2 {
    padding: 5rem 0;
    text-align: center;
}

.formu {
    margin-top: 1rem;
    padding: 0 2rem;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.formulario {
    padding: 0 1rem;
    width: 55%;
}

.ingrese {
    margin-bottom: 1rem;
}

.card,
.mmaa,
.nombre,
.denei,
.cvv {
    margin-bottom: 2rem;
}

.card input,
.mmaa input,
.nombre input,
.denei input,
.cvv input {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #fff;
    height: 56px;
    width: 100%;
    border-radius: 4px;
    padding: 11px 15px;
    border: 1px solid #e9eae8;
    color: #555555;
    outline: none;
}

.mmaa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mmaa input {
    width: 45%;
}

.small {
    margin-bottom: 0.5rem;
}

small {
    font-size: .8rem;
    color: #9e9e9e;
}

.boton input {
    text-align: center;
    margin: 16px 0;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    background-color: #5bc500;
    color: #fff;
    border-radius: 4px;
    padding: 1rem 2rem !important;
    border: none;
    outline: none;
}

@media screen and (max-width: 1000px) {
    .parte1 {
        display: none;
    }

    .parte3 {
        display: none;
    }

    .head2 {
        display: flex;
        justify-content: center;
    }
}